__pycache__/
*.py[cod]
.venv/
venv/
.env

data/processed/*
models/*
metrics/*
mlruns/*
!data/processed/.gitkeep
!models/.gitkeep
!metrics/.gitkeep
!mlruns/.gitkeep

.dvc/cache/
.dvc/tmp/
.idea/
.vscode/
